<p>
  movie-new works!
</p>

<h2>Submit a movie and your review</h2>
<p *ngIf="errors" class="errors">{{errors}}</p>
    
    
<form (submit)="createNew()" *ngIf="newMovie"  name="movForm" #movForm="ngForm">
      
  Movie Name:<input type="text" name="newMovie.movie_name" [(ngModel)]="newMovie.movie_name" placeholder="Movie name" class="form-control" required minlength="3" #rMName="ngModel"><br><br>
  <div *ngIf="rMName.invalid && (rMName.dirty || rMName.touched)" class="alert alert-danger">
    <div *ngIf="rMName.errors.required">
      <p>the movie name is missing!</p>
    </div>
    <div *ngIf="rMName.errors.minlength">
      <p>Must be at least 3 characters long</p>
    </div>
  </div>

  Name:<input type="text" name="newMovie.name" [(ngModel)]="newMovie.name" placeholder="Name" class="form-control" required minlength="3" #rName="ngModel"><br><br>
  <div *ngIf="rName.invalid && (rName.dirty || rName.touched)" class="alert alert-danger">
    <div *ngIf="rName.errors.required">
      <p>Your name is missing!</p>
    </div>
    <div *ngIf="rName.errors.minlength">
      <p>Must be at least 3 characters long</p>
    </div>
  </div>

  Stars:<select type="number" name="newMovie.movie_stars" [(ngModel)]="newMovie.movie_stars" class="form-control" required minlength="1" #rStars="ngModel"><br><br>
  
  <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  
  <div *ngIf="rStars.invalid && (rStars.dirty || rStars.touched)" class="alert alert-danger">
      <div *ngIf="rStars.errors.required">
        <p>the Stars type is missing!</p>
      </div>
      <div *ngIf="rStars.errors.minlength">
        <p>Must be at least 1 characters long dude!</p>
      </div>
  </div>

</select>
  <!-- Stars: <select type="number" name="newRev.stars" [(ngModel)]="newRev.stars" class="form-control" required minlength="1" #rStars="ngModel" ><br>
    
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <div *ngIf="rStars.invalid && (rStars.dirty || rStars.touched)" class="alert alert-danger">
      <div *ngIf="rStars.errors.required">
        <p>the Stars type is missing!</p>
      </div>
      <div *ngIf="rStars.errors.minlength">
        <p>Must be at least 1 characters long dude!</p>
      </div>
  </div> 
  </select> -->



<br><br>


  Review:<input type="text" name="newMovie.description" [(ngModel)]="newMovie.description" placeholder="description" class="form-control" required minlength="3" #rReview="ngModel"><br><br>
  <div *ngIf="rReview.invalid && (rReview.dirty || rReview.touched)" class="alert alert-danger">
      <div *ngIf="rReview.errors.required">
        <p>the description is missing !</p>
      </div>
      <div *ngIf="rReview.errors.minlength">
        <p>Must be at least 3 characters long!</p>
      </div>
  </div>
 <!-- <div class="space">  -->
  <div *ngIf= "movForm.invalid">
    <input type="submit" value="Submit" disabled  class="btn">
  </div>

  <div *ngIf= "movForm.valid">
    <input type="submit" value="submit"class="btn" >
  </div>
      
</form>
<button [routerLink]="['/']" class="brown">Cancel</button>
 <!-- </div>    -->
    